# Unity specific
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Uu]serSettings/
[Ll]ogs/

# Visual Studio / JetBrains Rider / MonoDevelop
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# Logs, cache, or temp files
.gradle/
*.log
*.swp
*.lock
*.DS_Store
